.container .title{
  font-size: 3.8rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 7rem 0 1rem;
}

.title .query-text {
  color: #f7d354
}



.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-container div {
  width: 30%;
  color: aliceblue;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
}

.movies-container div img {
  max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p{
  margin-bottom: 1rem;
}

.movies-container div svg{
  color: #f7d354;
}



.movies-container div a {
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 0 0 6px 6px;
  color: black;
  padding:  1rem 0.5rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

@media screen and ( max-width: 800px){
  .movies-container div{
    width: 45%;
    
    
    
  }
}
@media screen and ( max-width: 650px){
      .container .title{
        margin: 8.5rem 0 1rem;
      }
      
      
    }
  
@media screen and ( max-width: 618px){
      .container .title{
        margin: 0.5rem 0 1rem;
      }
      
      
    }

@media screen and (max-width: 450px) {
  .movies-container div{
    width: 100%;
  }
  
}