header{
  width: 100%;
  background-color: #040404;
  position: fixed;
  top: 0
  
}



#navbar {
  
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
  flex-wrap: wrap;
}

#navbar h2 a {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: aliceblue;
  text-shadow: 0px 0px 12px rgba(240, 248, 255, 0.412);
}



#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  min-width: 15rem;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

#navbar form button {
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 4px;
  color: black;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 618px) {
  #navbar form {
    padding-top: 1em;
  }
  header{
    position: initial;
  }
  
}